/*  Глобальні параметри */
:root {
	--primary-text-color:#757575;
	--title-text-color: #212121;
	--accent-text-color:#2196F3;
	--contact-link-color: rgba(255, 255, 255, 0.6);
	--wite-color: #FFFFFF;
	--black-color:#000000;
	--primary-bg-color:#FFFFFF;
	--secondery-bg-color:#F5F4F4;
	--accent-bg-color:#2F303A;
	}

body {
	color: var(--primary-text-color);
	background-color: var(--primary-bg-color);
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

/* забрав крапочки з списків */
.list {
	list-style: none;
}

/* hidden headers */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.header {
	background-color: var(--wite-color);
	}

/* logo */
.logo {
	color: var(--black-color);
	font-family: 'Raleway', cursive; 
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	text-decoration: inherit;
}

.logo-accent {
	color: var(--accent-text-color);
}

.logo-footer{
  color: var(--wite-color);
}

/* Links to other pages or sections of the current page */

.site-nav .link {
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	text-decoration: inherit;
}

.site-nav .link:hover,
.site-nav .link:focus {
	color: var(--accent-text-color);
}

/* Links to email and phone */
.email-phone {
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}

.email-phone .email-style,
.email-phone .phone-style{
	color: var(--primary-text-color);
	text-decoration: inherit;
} 

.email-phone .email-style:hover,
.email-phone .email-style:focus,
.email-phone .phone-style:hover,
.email-phone .phone-style:focus{
	color: var(--accent-text-color);
}

/* HERO */
.hero-style{
	background-color: var(--accent-bg-color);
}

.hero-title{
	color: var(--wite-color);
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center; 
	letter-spacing: 0.06em;
	text-transform: uppercase;
}

.button {
	padding: 10px 32px;
	border-radius: 4px;
	
	color: var(--wite-color);
	background-color: var(--accent-text-color);
	border: 1px solid var(--accent-text-color);
	font-family: inherit;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.88;
	
	cursor:  pointer;

	}

/* main titles основні заголовки  */
.main{
	background-color: var(--primary-bg-color);
}

.section .section-title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	text-align: center;
	}

/* secondary titles заголовки другорядні */
.feature-list .title {
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-transform: uppercase;
	}

/* Our team - Наша команда */
.our-team {
	background-color: var(--secondery-bg-color);
}

.team-list .title{
	color: var(--title-text-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.9;
	text-align: center; 
}

.team-list .profession{
	font-weight: 400;
	font-size: 16px;
	line-height: 1.9;
	text-align: center;
}

/* Footer */
.footer-style{
	background-color: var(--accent-bg-color);
}

.address-style{
	color: var(--wite-color);
}

.footer-style .email-style,
.footer-style .phone-style{
	color: var(--contact-link-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
}

/* Portfolio */
.filter{
	padding: 6px 22px;
	border-radius: 4px;

	font-family: inherit;
	border: 0;
	color: var(--title-text-color);
	background-color: var(--primary-bg-color)


	}

.filter:hover,
.filter:focus{
	color: var(--wite-color);
	background-color: var(--accent-text-color);
	border: 1px solid var(--accent-text-color);
	cursor: pointer;
}

.example-work-list .title{
	color: var(--title-text-color);
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.example-work-list .type {
	color: var(--primary-text-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.88;
}

